:root {
    /*Colores*/
    --white: hsl(0, 0% 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /*Fuente*/
    --Font-Family: 'Outfit', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    
}

main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
    padding:  100px 5%;
    height: auto;
}

section {  
    width: 450px;
    padding: 20px;
    font-family: var(--Font-Family);
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 10px 24px 30px 3px rgba(0,0,0,0.13);
-moz-box-shadow: 10px 24px 30px 3px rgba(0, 0, 0, 0.096);
box-shadow: 10px 24px 30px 3px rgba(0, 0, 0, 0.096);
}
.imagen-container {
    width: 400px;
    height: 400px; /* Añade una altura también */
    background-image: url(../images/image-qr-code.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

h1 {
    padding: 40px 40px;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--Dark-blue);
    
}
p {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Grayish-blue);
    padding: 0 40px 35px;
}

@media only screen and (min-width: 1440px) {
    section {
        width: 465px;
        padding: 25px;
    }
}